
.aboutImage {
  width: 460px;
  z-index: 1;
}

.container{ 
  display: flex;
  flex-direction: row;
  margin: 5% 10% 10% 10%;
  position: relative;
}

.description {
  font-size: 16px;
  font-family: 'Work Sans';
  margin-top: 40px;
  margin-bottom: 50px;
  z-index: 2;
  text-align: justify;
}

.subContainer{
  z-index: 2;
  margin-right: 20px;
}

.title {
  font-size: 70px;
  color : #3F75FF !important;
  font-weight : regular !important;
  font-family: 'Work Sans' !important;
}

