.container{
  display: flex;
  flex-direction: row;
  margin: 50px;
}

.titleAndImage {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.imageStyle{
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.descriptionStyle {
  width: 70%;
  text-align: justify;
  margin-right: 10px;
  margin-top: 100px;
}

.info {
  height: 100%;
  text-decoration: none;
  color: grey;
  align-self: flex-end;
}

.info:hover {
  font-weight: bold;
  color: black;
}